<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="login">
    <%#= f.label "年齢ログイン", {class: 'label'} %><br />
    <div class="login-low">
      <%= f.select :age, [
        ["20歳", 20], ["21歳", 21], ["22歳", 22], ["23歳", 23], ["24歳", 24],
        ["25歳", 25], ["26歳", 26], ["27歳", 27], ["28歳", 28], ["29歳", 29],
        ["30歳", 30], ["31歳", 31], ["32歳", 32], ["33歳", 33], ["34歳", 34],
        ["35歳", 35], ["36歳", 36], ["37歳", 37], ["38歳", 38], ["39歳", 39],
        ["40歳", 40], ["41歳", 41], ["42歳", 42], ["43歳", 43], ["44歳", 44],
        ["45歳", 45], ["46歳", 46], ["47歳", 47], ["48歳", 48], ["49歳", 49],
        ["50歳", 50], ["51歳", 51], ["52歳", 52], ["53歳", 53], ["54歳", 54],
        ["55歳", 55], ["56歳", 56], ["57歳", 57], ["58歳", 58], ["59歳", 59],
        ["60歳", 60]], {include_blank: '何歳？'}, {class: 'select'} %>
      <%= f.submit "ＯＫ", {class: 'btn submit'} %>
    </div>
  </div>

<% end %>
