<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label "年齢ログイン" %><br />
    <div class="select">
      <%= f.select :age,[
        ["20歳", 20], ["21歳", 21], ["22歳", 22], ["23歳", 23], ["24歳", 24],
        ["25歳", 25], ["26歳", 26], ["27歳", 27], ["28歳", 28], ["29歳", 29],
        ["30歳", 30], ["31歳", 31], ["32歳", 32], ["33歳", 33], ["34歳", 34],
        ["35歳", 35], ["36歳", 36], ["37歳", 37], ["38歳", 38], ["39歳", 39],
        ["40歳", 40], ["41歳", 41], ["42歳", 42], ["43歳", 43], ["44歳", 44],
        ["45歳", 45], ["46歳", 46], ["47歳", 47], ["48歳", 48], ["49歳", 49],
        ["50歳", 50]], include_blank: "年齢"
      %>
    </div>
  </div>

  <div class="btn">
    <%= f.submit "ＯＫ" %>
  </div>
<% end %>
