<h2>投稿が完了しました</h2>
<table>
  <tr>
    <td><a href="/items/"><%= image_tag "summary.png", class: "choice" %></a></td>
  </tr>
  <tr>
    <td><button><a href="/items/">一覧へ移動</a></button></td>
  </tr>
</table>