<h2><%= @item.name %></h2>
<p class="frame"><%= image_tag @item.image.variant(resize: '1000x1000'), class: 'item-image' if @item.image.attached? %></p>
<p class="url"><%= "写真引用元URL：#{@item.url}" %></p>

<table>
<tr>
<td><button>知らない</button></td>
<td><button>知ってる</button></td>
<td><button>エモい！</button></td>
</tr>
</table>