<%# トップページの仮保管 %>

  <% items = Item.all %>
  <% item_menu = [] %>
  <% items.each do |item| %>
    <% item_menu << item.id %>
  <% end %>

  <% random1 = rand(item_menu.length) %>
  <% item_choice1 = item_menu[random1] %>
  <% item_menu.delete_at(random1) %>
  <% random2 = rand(item_menu.length) %>
  <% item_choice2 = item_menu[random2] %>
  <% item_menu.delete_at(random2) %>
  <% random3 = rand(item_menu.length) %>
  <% item_choice3 = item_menu[random3] %>
  <% item_menu.delete_at(random3) %>
  <% random4 = rand(item_menu.length) %>
  <% item_choice4 = item_menu[random4] %>
  <% item_menu.delete_at(random4) %>

  <div class="frame-cover">
    <p class="frame-top">
      <%= image_tag Item.find(item_choice1).image.variant(resize: '1000x1000'), class: 'image-top' if Item.find(item_choice1).image.attached? %>
    </p>
    <p class="frame-top">
      <%= image_tag Item.find(item_choice2).image.variant(resize: '1000x1000'), class: 'image-top' if Item.find(item_choice2).image.attached? %>
    </p>
    <p class="frame-top">
      <%= image_tag Item.find(item_choice3).image.variant(resize: '1000x1000'), class: 'image-top' if Item.find(item_choice3).image.attached? %>
    </p>
    <p class="frame-top">
      <%= image_tag Item.find(item_choice4).image.variant(resize: '1000x1000'), class: 'image-top' if Item.find(item_choice4).image.attached? %>
    </p>
  </div>