h2 {
  font-size: 8vw;
  /* padding: 3vw; */
  margin: 0;
  text-align: center;
}

.frame {
  width: 100vw;
  height: 100vw;
  background-color: antiquewhite;
  text-align: center;
  margin: 0;
}

img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  /* position: absolute; */
  /* top: 30vw; */
}

.frame:before{
  content:"";
  display: inline-block;
  height:100%;
  vertical-align: middle;
}
.frame > img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

.url {
  text-align: center;
  font-size: 2vw;
}

table{
  margin:auto;
  /* display: flex;
  justify-content: space-between; */
}
button{
  font-size: 7vw;
  width: 32.5vw;
}